@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gilroy {
  font-family: "Gilroy-Bold", sans-serif;
}

.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.font-gilroy-heavy {
  font-family: "Gilroy-Heavy", sans-serif;
}

body {
  @apply font-gilroy-medium mb-10;
  background-color: #f4f4f4;
  color: #3d3b37;
}

.text-title {
  @apply font-gilroy-heavy tracking-wider;
}

.font-text {
  @apply font-gilroy-medium;
}

a.default {
  @apply underline hover:text-gray-500;
}

.logo {
  @apply font-gilroy text-primary;
}

.btn-primary-base {
  @apply inline-block font-gilroy bg-primary rounded-xl text-white hover:bg-primary-200 tracking-wider;
}

.btn-primary {
  @apply btn-primary-base text-2xl px-8 py-4;
}

.btn-primary-sm {
  @apply btn-primary-base text-lg px-6 py-3;
}

.btn-file {
  @apply w-full bg-white rounded-xl py-2 px-4 flex items-center hover:bg-gray-100;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.box {
  @apply bg-gray-200 p-6 rounded-xl;
}

.box-option {
  @apply box h-[600px];
}